<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Carteira de Ações</title>
    <link rel="stylesheet" href="view/home/home.css">
    <script defer src="view/home/home.js" type="module"></script>
</head>
<body>
    <h1>Minha Carteira</h1>
    <table id="stocks">
        <tr>
          <th>Ticker</th>
          <th>Shares</th> 
          <th>Position</th>
        </tr>   
      </table>
</body>
</html>