<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Carteira de Ações</title>
    <link rel="stylesheet" href="view/home/home.css">
    <script defer src="view/home/home.js" type="module"></script>
</head>
<body>
    <h1>Minha Carteira</h1>
    <h2>Custo Total</h2>
    <h3 id="cost">R$ 0,00</h3>
    <h2>Posição Acionária</h2>
    <h3 id="position">R$ 0,00</h3>
    <table id="stocks">
        <tr>
          <th>Ticker</th>
          <th>Ações</th> 
          <th>Custo de Compra</th>
          <th>Preço Atual (por Ação)</th>
          <th>Posição</th>
          <th>Lucro</th>
          <th>Percentual de Lucro</th>
        </tr>   
      </table>
      <br>
      <button><a href="/purchase">Buscar Ação</a></button>
      <br>
      <button id="delete">Deletar Tudo</button>
</body>
</html>